DB_HOST=localhost
DB_USER=root
DB_PASS=your_password
DB_NAME=trucking
JWT_SECRET=your_jwt_secret
PORT=3000
WIALON_BASE_URL=https://hst-api.wialon.com/wialon/ajax.html
WIALON_TOKEN=your_wialon_token
WIALON_LOGIN_FLAGS=13
WIALON_SESSION_TTL_MS=2700000
WIALON_TIMEOUT_MS=20000
